/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
.confirmPassword {
  color: var(--error);
}

.background-image,
.signup-background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  background-image: url("../images/hospital.jpg");
  width: 100%;
  height: 100%;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  opacity: 0.25;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.loadingScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
  font-weight: 600;
}

.homeContent {
  z-index: 50;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 3rem;
}

.loginTitleContainer {
  z-index: 9999;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.login {
  z-index: 999;
}
.signup {
  z-index: 999;
}
.signupFormContainer {
  display: flex;
  justify-content: center;
}

.loginTitleAndFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepageWelcome {
  font-size: 4rem;
  font-weight: 600;
  z-index: 50;
  margin-bottom: 4rem;
  margin-top: 4rem;
}
.homepageText {
  font-size: 1.5rem;
  z-index: 50;
}

header {
  background: #fff;
}
header .navbarContainer {
  max-width: 1400px;
  margin: 0 auto;
  /* 10 is up and down, 20 is left and right */
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  margin: 0 auto;
}

.navbarContainer label {
  display: none;
}

.navbarTitle {
  font-weight: 600;
  font-size: 2rem;
  padding: 5px;
}

.guestLogin:hover {
  cursor: pointer;
}

.empty {
  display: none;
}

.deleteAccountButton {
  color: #fff;
  background-color: var(--error);
  border: none;
  height: 3rem;
  width: 8rem;
  border-radius: 10rem;
  cursor: pointer;
  margin-top: 3rem;
}

.areYouSureContainer {
  display: flex;
  flex-direction: column;
  height: 10rem;
  margin-top: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}
.areYouSureYes {
  color: #fff;
  background-color: var(--error);
  border: none;
  height: 3rem;
  width: 8rem;
  border-radius: 10rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.areYouSureNo {
  color: #fff;
  background-color: var(--primary);
  border: none;
  height: 3rem;
  width: 8rem;
  border-radius: 10rem;
  cursor: pointer;
}

.areYouSureButtonsContainer {
  margin-top: 1.5rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}
.sureContainer {
  width: 18rem;
  margin-bottom: 2rem;
}
a {
  text-decoration: none;
  color: black;
}

.emailAndLogOutContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 20rem;
}
.loginAndSignupContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 40px 20px;
  background: #fff;
}

.loginTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 20px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 1rem;
  width: 7rem;
}
.error {
  color: var(--error);
}
fieldset {
  border: none;
}
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20rem;
  width: 20rem;
}
form.login input,
form.signup input[type="text"],
form.signup input[type="password"],
form.signup input[type="email"] {
  width: 100%;
}

form.signup {
  max-width: 400px;
  padding: 20px;
  background: #fff;
  border: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45rem;
}

.loginFormButton,
.signupSubmitButton {
  color: #fff;
  background-color: var(--primary);
  border: none;
  height: 2rem;
  width: 5rem;
  border-radius: 10rem;
  cursor: pointer;
}
.signupSubmitButton {
  margin-bottom: 1rem;
}
.note {
  cursor: pointer;
}
.patientProfileNote {
  margin-bottom: 1rem;
  border: 2px solid black;
  padding: 0.5rem;
}
input:focus,
textarea:focus {
  outline: none;
  border: 2px solid black;
}

input[type="email"],
input[type="password"],
.firstNameInput > input,
.lastNameInput > input {
  height: 2rem;
}

.nobleAndLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
}

.homeContainer {
  text-align: center;
}

.nobleAndLogo > div > svg {
  height: 2rem;
  width: 2rem;
}
.loginTitle {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.loginDescription {
  font-weight: 500;
  font-size: 1.5rem;
}
.addNoteForm,
.editNoteForm {
  margin: 5px auto;
  padding: 20px;
  background: #fff;
  border: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.addNoteForm div,
.editNoteForm .soapTitleAndText {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.addNoteContainer {
  display: flex;
  justify-content: space-around;
  margin: 0px 40px;
}

.addNoteForm > button,
.submitEditNoteButton {
  color: #fff;
  background-color: var(--primary);
  border: none;
  height: 2rem;
  width: 5rem;
  border-radius: 10rem;
  cursor: pointer;
}

.editNoteButton {
  color: #fff;
  background-color: var(--primary);
  border: none;
  height: 3rem;
  width: 6rem;
  border-radius: 10rem;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cancelEdit {
  color: #fff;
  background-color: var(--error);
  border: none;
  height: 2rem;
  width: 5rem;
  border-radius: 10rem;
  cursor: pointer;
}

.deleteNoteButton {
  color: #fff;
  background-color: var(--error);
  border: none;
  height: 3rem;
  width: 6rem;
  border-radius: 10rem;
  cursor: pointer;
  margin-left: 3rem;
}
.editNoteButtons {
  display: flex;
  width: 12rem;
  justify-content: space-between;
  align-items: center;
}
.editAndDeleteNoteButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editNoteForm {
  align-items: center;
  width: 50rem;
}

.addPatientNoteButton {
  color: #fff;
  background-color: var(--primary);
  border: none;
  height: 2.8rem;
  width: 13rem;
  border-radius: 10rem;
  cursor: pointer;
}

textarea {
  height: 10rem;
  font-family: "Poppins";
  white-space: pre-wrap;
  width: 95%;
}

.textArea {
  border: 1px solid black;
  width: 100%;
  height: 10rem;
}

.orderedByTitle {
  font-weight: 400;
}

.currentNoteContainer {
  min-height: 31rem;
  height: 100%;
  margin-top: 1rem;
}

.currentNoteInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 25rem;
  height: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  border: 3px solid var(--primary);
  border-radius: 60px;
  padding: 2rem;
}

.soapTitle {
  text-decoration: underline;
  font-weight: 600;
}

.providerNotesTitle {
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.noteListing {
  margin-bottom: 1rem;
  width: 100%;
  border: 2px solid black;
  padding: 0.5rem;
}
.noteListingContainer {
  width: 20rem;
}

.providerProfileContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.providerNotesTitle {
  font-weight: 600;
  font-size: 1.5rem;
}

.providerNameAndCredentialsContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.providerProfileNotesContainer {
  margin-right: 2rem;
}

.signedBy {
  margin-top: 3rem;
}

.soapContent {
  margin-bottom: 1rem;
}

.providerSearchContainer,
.patientSearchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.providerName {
  font-weight: 700;
  font-size: 1.5rem;
}

.patientName,
.searchFirstName {
  font-weight: 600;
  font-size: 1rem;
}

.providerSearch,
.patientSearch {
  height: 2.5rem;
  width: 15rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.patientNameLink {
  width: fit-content;
}

.patientNameOnNote {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.patientListName {
  font-weight: 600;
  font-size: 1.5rem;
}

.patientList {
  width: 93%;
}

.patientListContainer {
  display: flex;
  justify-content: center;
}

.pmhTitle,
.allergiesTitle {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.noResults {
  color: var(--error);
}

.patientProfileContainer {
  display: flex;
  justify-content: center;
}
.patientProfileInfo {
  max-width: 25rem;
}
.pmhCondition {
  margin-bottom: 1rem;
}

.providerListNameAndCredentials {
  border: 2px solid black;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 25rem;
  text-align: center;
  transition: all 0.1s ease-in-out;
}

.providerListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.patientProfileName {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
.patientProfileAge {
  margin-bottom: 1rem;
}
.patientInformation {
  display: grid;
  grid-template-columns: 1.5fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  border: 2px solid black;
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem;
  transition: all 0.1s ease-in-out;
}
.pmh {
  width: 30rem;
}
.allergies {
  text-align: center;
}
.patientNameAndAge {
  width: 15rem;
}
.patientInformation:hover,
.providerListNameAndCredentials:hover {
  background-color: white;
  cursor: pointer;
  transform: scale(1.1);
}

.addNoteAllergy {
  margin-bottom: 0.5rem;
}

.noteListing:hover {
  background-color: white;
}

.soapTitleAndText > textarea {
  width: 20rem;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: black;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.patientProfileNote:hover {
  background-color: white;
  cursor: pointer;
}

.zeroProfileNotes {
  color: var(--error);
}

@media (max-width: 900px) {
  .navbarTitle {
    font-size: 0.7rem;
  }
  .navbarEmail {
    font-size: 0.6rem;
  }
  .emailAndLogOutContainer {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .logout {
    width: 4rem;
    font-size: 0.5rem;
  }
  .nobleAndLogo > div > svg {
    height: 1.2rem;
    width: 1.2rem;
  }

  .nobleAndLogo {
    width: 3rem;
    margin-right: 0.7rem;
  }

  header .navbarContainer {
    padding: 5px 10px;
  }
  .loginTitle {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .loginDescription {
    font-size: 1rem;
    text-align: center;
  }
  .loginTitleContainer {
    margin-top: 1rem;
  }

  form.login {
    padding: 12px 22px;
    height: 18rem;
    width: 17rem;
    margin-top: 1rem;
  }

  .signup {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .loginAndSignupContainer {
    padding: 20px 20px;
  }

  .patientInformation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 1rem auto;
    width: 80%;
  }

  .pmh {
    width: 100%;
  }

  .patientInformation > div > div {
    font-size: 1rem;
  }

  .patientInformation div {
    margin-bottom: 0.5rem;
  }

  .providerListNameAndCredentials {
    width: 20rem;
  }
  .providerNameAndCredentialsContainer {
    height: 100%;
  }
  .providerListNameAndCredentials:hover,
  .patientInformation:hover {
    transform: none;
  }
  .providerNameAndCredentials {
    height: auto;
  }

  .sureContainer {
    height: auto;
  }

  .patientProfileInfo {
    text-align: center;
  }

  .patientProfileContainer {
    padding: 10px 10px;
  }

  .patientProfileNotesContainer {
    display: flex;
    justify-content: center;
  }

  .patientProfileNote {
    width: 90%;
  }

  .addNoteContainer {
    flex-direction: column;
    margin: 0 auto;
  }
  .patientInfoContainer {
    text-align: center;
    margin: 0 1rem;
  }

  .addNoteContainer * {
    font-size: 1rem;
  }
  .submitNoteButton {
    font-size: 0.7rem;
  }

  .providerProfileContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .providerProfileNotesContainer {
    margin-right: 0;
  }
  .noteListingContainer {
    margin: 0px auto;
    width: 20rem;
  }

  .addNoteForm {
    margin: 0px auto;
    width: 80%;
    margin-bottom: 5px;
  }

  .noteListing {
    width: 90%;
    margin: 1rem auto;
  }

  .editNoteForm {
    width: 80%;
  }
  .loginAndSignupContainer {
    font-size: 1rem;
  }
  .areYouSureButtonsContainer {
    align-items: center;
  }
}
